[MASTER]
max-line-length=100
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0902,  # too-many-instance-attributes
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access
    C0302,  # too-many-lines
